.body{
    background-color: rgb(233, 233, 233);
}

/* header */
.header{
    color: rgb(172, 126, 199);
    background-image: url("logo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
}

/* profile */
.profile img{
    text-align: center;
    width: 200px;
    height: 200px;
    border-radius: 70px;
}
.profile h2{
    color: rgb(62, 0, 177);
}

/* SkillAbout */
.SkillAbout h3{
    color: rgb(62, 0, 177);
}
.SkillAbout p{
    font-style: italic;
    word-spacing: 4px;
}
.SkillAbout h6{
    color: rgb(0, 0, 0);
}
.SkillAbout p{
    color: rgb(0, 0, 0);
    line-height: 40px;
}

/* Footer */
.footer{
    color: rgb(255, 255, 255);
    background-color: #444444;
    padding: 70px 0;
}
.footer i{
    color: rgb(255, 255, 255);
}